h1 {
  font-size: 61.04px;
}
h2 {
  font-size: 48.83px;
}
h3 {
  font-size: 39.06px;
}
h4 {
  font-size: 31.25px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
.small {
  font-size: 12.8px;
}
.carousel__icon {
  /* display: none !important; */
  color: white;
  z-index: 1;
}
.ap > .carousel__next::before {
  font-weight: 400;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid;
  background-color: #43a047;
  color: white;
  font-size: 15px;
  width: 100px;
  position: absolute;
  right: 5px;
  padding: 3px;
  padding-right: 18px;
  content: 'Siguiente';
}

.ap > .carousel__prev::before {
  font-weight: 400;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid;
  background-color: #43a047;
  color: white;
  font-size: 15px;
  width: 100px;
  position: absolute;
  left: 5px;
  padding: 3px;
  padding-left: 18px;
  content: 'Anterior';
}
