@media only screen and (max-width: 960px) {
  h1 {
    font-size: 23.61px;
  }
  h2 {
    font-size: 22.13px;
  }
  h3 {
    font-size: 20.74px;
  }
  h4 {
    font-size: 19.44px;
  }
  h5 {
    font-size: 18.22px;
  }
  h6 {
    font-size: 17.07px;
  }
  .small {
    font-size: 15px;
  }
  .imagenFondo {
    height: 500px !important;
  }
  .imagen-silla {
    top: 30% !important;
    left: 50% !important;
  }
  .nombre-silla {
    top: 65% !important;
    left: 50% !important;
    font-size: 20px !important;
  }
  .subnombre-silla {
    top: 75% !important;
    left: 50% !important;
    font-size: 33px !important;
  }
  .boton-silla {
    position: absolute;
    top: 85% !important;
    left: 50% !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1280px) {
  h1 {
    font-size: 32.44px;
  }
  h2 {
    font-size: 28.83px;
  }
  h3 {
    font-size: 25.63px;
  }
  h4 {
    font-size: 22.78px;
  }
  h5 {
    font-size: 20.25px;
  }
  h6 {
    font-size: 18px;
  }
  .small {
    font-size: 14.22px;
  }
  .imagenFondo {
    height: 400px !important;
  }
  .imagen-silla {
    top: 50% !important;
    left: 30% !important;
    width: 100% !important;
    height: 80% !important;
  }
  .nombre-silla {
    top: 30% !important;
    left: 70% !important;
    font-size: 40px !important;
  }
  .subnombre-silla {
    top: 45% !important;
    left: 70% !important;
    font-size: 70px !important;
  }
  .boton-silla {
    position: absolute;
    top: 60% !important;
    left: 70% !important;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  h1 {
    font-size: 47.78px;
  }
  h2 {
    font-size: 39.81px;
  }
  h3 {
    font-size: 33.18px;
  }
  h4 {
    font-size: 27.65px;
  }
  h5 {
    font-size: 23.04px;
  }
  h6 {
    font-size: 19.2px;
  }
  .small {
    font-size: 13.33px;
  }
  .imagenFondo {
    height: 600px !important;
  }
  .imagen-silla {
    top: 50% !important;
    left: 30% !important;
    width: 100% !important;
    height: 80% !important;
  }
  .nombre-silla {
    top: 30% !important;
    left: 70% !important;
    font-size: 40px !important;
  }
  .subnombre-silla {
    top: 45% !important;
    left: 70% !important;
    font-size: 70px !important;
  }
  .boton-silla {
    position: absolute;
    top: 60% !important;
    left: 70% !important;
  }
}
