@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('./styles/fonts.css');
@import url('./styles/mediaQuerys.css');
.charm-regular {
  font-family: 'Charm', cursive;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-style: normal;
}
